{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Me</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type = "text/javascript" src ="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>

  <body class="light text-center" style="margin-top: 50px;">

    <section class="container">
      <div class="row justify-content-md-center">
          <div class="col m12 center">
            <!-- Rounded switch -->
            <label class="switch">
              <input class = "changing" type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
      </div>
      
      <div class="row justify-content-md-center" style="margin-top: 50px;">
          <div class="col m12">
            <div id="accordion" class=".d-*-flex .flex-*-column .align-items-*-center">
              <h3>Aktivitas</h3>
              <div>
                Staff Art and Culture - BEM Fasilkom UI 2019
                <br> VPIC Transportation and Venue COMPFEST 2020
              </div>
              
              <h3>Pengalaman Kepanitiaan dan Organisasi</h3>
              
              <div>
                Staff Seksi 6 - Kualitas Jasmani dan Gizi OSIS SMAN 34 Jakarta (2015 - 2017)
                <br> Staff Keamanan High School Celebration 2015
                <br> Staff Perlengkapan High School Celebration 2016
                <br> VPIC Sponsorship High School Celebration 2017
                <br> Staff HRD CGT 2019
                <br> Staff Transportation and Venue COMPFEST 2019
              </div>
              
              <h3>Prestasi</h3>
              
              <div>
                <img src="https://pbs.twimg.com/media/EBDeUmnUwAATu0U.jpg:large" alt="prestasi">
              </div>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>
